<%- include("../partials/header.ejs") %>
    <video autoplay muted playsinline loop class="fullscreenBackgroundVideo loaded">
	<source src="static/videos/bg_render.webm" type="video/webm" />
	<source src="static/videos/bg_render.mp4" type="video/mp4" />
</video>

    <div class="home-center">
        <div class="home-title">404</div>
        <div class="home-subtitle">Page not found</div>
        <div class="home-text">The page you were looking for does not exist.</div>
        <a href="/" class="button-filled button-blue home-button">Home</a>
    </div>
    <div class="wrapper"></div>
    <%- include("../partials/footer.ejs") %>