<footer>
    <ul>
        <li>©2020 Modloader team</li>
    </ul>
    <ul>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
        <li>
            <a href="/documentation">Documentation</a>
        </li>
    </ul>
</footer>
</body>

</html>