<%- include('../partials/header.ejs') %>
<div class="home">
  <div class="logo">
    <img src="/static/images/logo.png" />
    <label class="label">Mods</label>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
