<%- include('../partials/header.ejs') %>
    <!-- <video autoplay muted playsinline loop class="fullscreenBackgroundVideo loaded">
	<source src="static/videos/bg_render.webm" type="video/webm" />
	<source src="static/videos/bg_render.mp4" type="video/mp4" />
</video> -->
    <div class="wrapper mods">
        <!-- <div class="logo">
            <img src="/static/images/logo.svg" />
            <label class="label">Mods</label>
        </div> -->
        <div class="card mod-of-the-week">
            <div class="title">SMB Modpack</div>
            <div class="subtitle">The SMB modpack consists of over 5 different mods containing survival mode, wireless displays etc</div>
            <div class="images">
                <img src="" alt="" class="image" />
                <img src="" alt="" class="image" />
                <img src="" alt="" class="image" />
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>