<%- include('../partials/header.ejs') %>
    <video autoplay muted playsinline loop class="fullscreenBackgroundVideo loaded">
	<source src="static/videos/bg_render.webm" type="video/webm" />
	<source src="static/videos/bg_render.mp4" type="video/mp4" />
</video>
    <div class="notfound">
        <div class="background-label">404</div>
        <div class="logo">
            <img src="/static/images/logo.svg" />
            <div class="title">Page not found</div>
            <div class="subtitle">The page you were looking for does not exist.</div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>