@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
    --blue: #2699fb;
    --red: #c91d1d;
    --shapezDark: #3f4851;
    --shapezShadow: #a9b0bb;
    --shapezLight: #c0c6d2;
    --white: #ffffff;
    --border-thickness: 2px;
    --border-radius: 3px;
    --font-middle: 20px;
    --font-large: 36px;
    --font-larger: 40px;
    --bar-size: 60px;
    --search-size: 32px;
}

body {
    font-family: "Barlow", sans-serif;
    background-color: #535866;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.fullscreenBackgroundVideo.loaded {
    display: block;
    opacity: 0.07;
}

.fullscreenBackgroundVideo {
    z-index: -1;
    position: fixed;
    right: 50%;
    bottom: 50%;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    display: none;
    -webkit-transform: translate(50%, 50%);
    -webkit-filter: blur(calc(3px));
    transform: translate(50%, 50%);
    filter: blur(calc(3px));
}

video {
    object-fit: contain;
}

@keyframes label {
    50% {
        transform: translateX(50%) rotate(-7deg) scale(1.1);
    }
}

nav {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 82px;
    background-color: #484c58;
    vertical-align: middle;
}

nav>div {
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: calc(33% - 21px);
}

nav .right {
    justify-content: flex-end;
}

nav .settings {
    background-image: url(/static/images/settings.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    filter: invert(100%);
    margin-left: 40px;
    cursor: pointer;
    transition: filter 0.3s;
}

nav .settings:hover {
    filter: invert(90%);
}

nav .logo {
    position: relative;
    height: 40px;
    margin-left: 20px;
}

nav .logo img {
    height: 100%;
}

nav .logo .label {
    font-family: "Barlow", sans-serif;
    font-size: 1.5vw;
    position: absolute;
    width: fit-content;
    color: var(--blue);
    transform: translateX(50%) rotate(-5deg);
    right: 4%;
    bottom: 4%;
}

nav .links {
    display: inline-block;
    vertical-align: middle;
}

nav .link {
    color: #abafc7;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

nav .link:hover {
    color: #c7cbdb;
}

nav .link-blue {
    padding: 7px 20px;
    border-left: 1px solid #abafc7;
    color: var(--blue);
}

nav .link-blue:hover {
    color: #5faef3;
}

nav .search {
    justify-content: center;
}

nav .search-bar {
    display: inline-flex;
    vertical-align: middle;
    margin: 0 20px;
    background-color: #535866;
    border-radius: 33px;
    height: 60px;
    background-image: url(/static/images/search.svg);
    background-repeat: no-repeat;
    background-position: 20px 50%;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

nav .search-bar input {
    margin-left: 45px;
    background: none;
    outline: none;
    border: none;
    color: #abafc7;
    font-size: 18px;
    width: calc(100% - 250px);
}

nav .search-bar input::placeholder {
    color: #abafc7;
}

nav .search-bar .categories {
    display: inline-flex;
    background-color: #66bb6a;
    color: white;
    margin: 5px;
    border-radius: 33px;
    height: 50px;
    width: fit-content;
    padding: 0 20px;
    text-align: center;
    align-items: center;
}

nav .search-bar .categories img {
    margin-left: 5px;
}

footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
}

footer .discord {
    width: fit-content;
    margin: auto;
}

footer .discord .title {
    display: block;
    font-size: 24px;
    color: white;
    text-align: center;
    font-weight: 500;
}

footer .discord .subtitle {
    display: block;
    font-size: 18px;
    color: #abafc7;
    text-align: center;
}

footer .discord .link {
    margin-top: 10px;
    display: inline-block;
    padding: 15px;
    width: 150px;
    color: white;
    background-color: var(--blue);
    text-align: center;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
}

footer .discord .link:hover {
    background-color: #5faef3;
}

footer .discord .link-green {
    background-color: #66bb6a;
}

footer .discord .link-green:hover {
    background-color: #7eca82;
}

footer .text {
    margin: 20px;
    color: #abafc7;
}

footer .text img {
    border-left: solid #abafc7 1px;
    margin-left: 5px;
    padding-left: 5px;
    height: 30px;
    margin-bottom: -10px;
}

.home .logo {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
    width: fit-content;
}

.home .logo img {
    width: calc(110vw * 0.4);
    transform: rotate(-5deg);
}

.home .logo .label {
    font-family: "Barlow", sans-serif;
    font-size: 4vw;
    position: absolute;
    width: fit-content;
    color: var(--blue);
    transform: translateX(50%) rotate(-5deg);
    right: 4%;
    bottom: 4%;
    animation: label 1.3s ease-in-out infinite !important;
}

.notfound .logo {
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    width: fit-content;
}

.notfound .logo img {
    width: calc(100vw * 0.4);
    transform: rotate(-5deg);
}

.notfound .background-label {
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%) rotate(-10deg);
    font-family: "Barlow", sans-serif;
    font-size: 20vw;
    color: #2698fb38;
}

.notfound .title {
    margin-top: 100px;
    display: block;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 500;
}

.notfound .subtitle {
    display: block;
    font-size: 24px;
    color: #abafc7;
    text-align: center;
}


/* .mods .logo {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    width: fit-content;
}

.mods .logo img {
    width: calc(100vw * 0.4);
    transform: rotate(-5deg);
}

.mods .logo .label {
    font-family: "Barlow", sans-serif;
    font-size: 4vw;
    position: absolute;
    width: fit-content;
    color: var(--blue);
    transform: translateX(50%) rotate(-5deg);
    right: 4%;
    bottom: 4%;
    animation: label 1.3s ease-in-out infinite !important;
} */

.mods .header-title {
    margin-top: 20px;
    display: block;
    font-size: 30px;
    color: white;
    font-weight: 500;
}

.mods .mod-of-the-week {
    margin-top: 10px;
}

.mods .card {
    background-color: #484c58;
    border-radius: 6px;
    width: 100%;
    padding: 20px;
}

.mods .card .title {
    display: block;
    font-size: 24px;
    color: white;
    font-weight: 500;
}

.mods .card .subtitle {
    display: block;
    font-size: 18px;
    color: #abafc7;
}

.mods .card .images {
    width: 100%;
    display: flex;
    margin-top: 10px;
    gap: 20px;
}

.mods .card .images .image {
    flex: 1;
}

.mods .card .images .image img {
    width: 100%;
    height: auto;
}