<%- include("../partials/header.ejs") %>
    <video autoplay muted playsinline loop class="fullscreenBackgroundVideo loaded">
	<source src="static/videos/bg_render.webm" type="video/webm" />
	<source src="static/videos/bg_render.mp4" type="video/mp4" />
</video>
    <div class="about-logo">
        <div class="header">About</div>
        <img src="/static/images/shapez-logo.svg" />
        <div class="label">Mods</div>
    </div>
    <%- include("../partials/footer.ejs") %>