<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav>
        <ul>
            <% if (title !== "Shapez.io - Mods") {%>
                <li><a href="/mods">Explore mods</a></li>
                <% }%>
        </ul>
        <ul>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="TODO: discord link">Contact</a>
            </li>
            <li>
                <a href="/documentation">Documentation</a>
            </li>
            <li>
                <div class="nav-search">
                    <input type="text" />
                </div>
            </li>
            <% if (user) {%>
                <li>
                    <a href="/profile"><img src="/static/images/profile.svg" alt="" /></a>
                </li>
                <li><a href="/api/v1/auth/logout" class="button button-dark">logout</a></li>
                <%} else {%>
                    <li><a href="/api/v1/auth/login" class="button button-dark">sign in</a></li>

                    <%}%>
        </ul>
    </nav>
</body>

</html>