@charset "utf-8";
:root {
    --blue: #4A97DF;
    --red: #c91d1d;
    --shapezDark: #484C58;
    --shapezShadow: #a9b0bb;
	--shapezWords: #ABAFC7;
	--shapezLight: #535866;
	--green: #66BB6A;
}
a:hover {
	color: rgba(255,255,255,1.00);
}
header {
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
#logo {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 139px;
	text-align: center;
	color: var(--blue);
}
#modofweek {
	clear: both;
	background-color: var(--shapezLight);
	color: var(--shapezWords);
	padding-left: 115px;
	padding-top: 57px;
	padding-bottom: 57px;
}
#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
}
#content .sidebar {
	color: var(--shapezWords);
	float: left;
	width: 20%;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
	background-color: var(--shapezLight);
	padding-top: 36px;
	height: 784px;
}
#content .mainContent {
	float: left;
	width: 70%;
	text-align: center;
	padding-left: 4%;
}
#content .sidebar #menubar {
	text-align: left;
	color:var(--blue);
	position: relative;
	left: 0%;
}
#content .sidebar #search {
	width: 100%;
	border-radius: 10px;
	height: 42px;
	text-align: center;
	color: var(--shapezDark);
	font-size: 14px;
	margin-bottom: 21px;
}
body{
	background-color: var(--shapezDark);
}
#mainWrapper {
	width: 80%;
	padding-left: 10%;
}
.menu ul li {
	list-style-type: none;
	font-size: x-large;
	position: relative;
	left: -35px;
	padding-top: 12px;
}
#content .mainContent .productRow {
	overflow: auto;
	color: var(--shapezWords);
}
.mainContent .productRow .productInfo {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	width: 22%;
}
.productRow .productInfo .info {
	color: rgba(146,146,146,1.00);
	font-size: 14px;
	position: relative;
	text-align: center;
	top: -20px;
}
.productRow .productInfo .productContent {
	position: relative;
	top: -37px;
	font-size: 14px;
	font-style: normal;
	font-weight: 200;
	color: rgba(146,146,146,1.00);
	white-space: pre-wrap;
}
.productRow .productInfo .buyButton {
	position: relative;
	top: -48px;
	width: 84%;
	background-color:var(--blue);
	height: 35px;
	color: var(--shapezDark);
	border-style: none;
	border-radius: 5px;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 8px;
}
#mainWrapper footer {
	clear: both;
	overflow: auto;
}
 .productInfo div img {
	width: 100%;
}
.sidebar #menubar .menu ul li a {
	color: var(--shapezWords);
	text-decoration: none;
}
.sidebar #menubar .menu ul li a:hover {
	color:var(--blue);
	text-decoration: none;
}
#menubar .menu h2 {
	font-size: 14px;
}
#menubar .menu ul li a {
	font-size: 14px;
}
.sidebar #menubar .menu {
	margin-bottom: 29px;
}
footer .footerDisclaimer {
	float: left;
	margin-left: 3%;
}
footer {
	padding-top: 60px;
	padding-bottom: 60PX;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid var(--shapezDark);
	color: var(--shapezDark);
	transition: all 0.3s linear;
	background-color:var(--blue);
}
.button:hover {
	background-color: var(--green);
	color: var(--shapezDark);
	cursor: pointer;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	letter-spacing: 4px;
}




@media screen and (max-width:700px) {
#content .sidebar #search {
	display: none;
}
#content .sidebar {
	float: none;
	width: 100%;
	height: auto;
	overflow: auto;
	padding-left: 12%;
	padding-top: 0px;
}
#content .sidebar hr {
	display: none;
}
#content {
	position: relative;
	top: -22px;
	width: 100%;
	overflow: hidden;
}
#menubar .menu h2 {
	display: inline;
	font-size: medium;
	padding-right: 6%;
}
#menubar .menu ul {
	display: inline;
}
#menubar .menu ul li {
	display: inline;
	font-size: medium;
	padding-left: 0%;
	padding-right: 3%;
}
.sidebar #menubar .menu ul .notimp {
	display: none;
}
.sidebar #menubar .menu {
	width: 100%;
	text-align: center;
	position: relative;
	top: 16px;
}
#content .sidebar #menubar {
	position: relative;
	left: -7%;
	overflow: hidden;
	width: 95%;
	padding-top: 0px;
}
#mainWrapper #offer p {
	font-size: small;
}
#mainWrapper #content .mainContent {
	overflow: hidden;
	width: 95%;
	margin-top: 40px;
}
.productRow .productInfo .price {
	font-size: 19px;
}
.productRow .productInfo .productContent {
	font-size: 16px;
}
.productRow .productInfo .buyButton {
	font-size: 15px;
}
#mainWrapper footer .footerlinks {
	float: none;
	width: 100%;
	position: relative;
	top: 17px;
	clear: both;
	text-align: center;
	left: 0%;
	padding-bottom: 19px;
}
#mainWrapper footer div {
	width: 44%;
	text-align: justify;
	font-size: 15px;
}
.footerlinks p a {
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline;
	padding-right: 35px;
}
#mainWrapper footer {
	padding-left: 16px;
	overflow: hidden;
}
header #headerLinks a {
	padding-left: 0px;
	padding-right: 30px;
}
#mainWrapper #offer {
	padding-left: 22%;
}
}



@media screen and (max-width:480px) {
#mainWrapper header #headerLinks {
	width: 100%;
	text-align: center;
	background-color: rgba(190,190,190,1.00);
	padding-bottom: 21px;
}
#mainWrapper header #logo {
	width: 100%;
	text-align: center;
}
header #headerLinks a {
	text-align: center;
	padding-right: 15px;
	padding-left: 0px;
}
#mainWrapper #offer {
	padding-left: 0px;
	text-align: center;
}
#content .sidebar #menubar {
	position: relative;
	left: -8%;
	text-align: center;
}
#menubar .menu h2 {
	width: 100%;
	display: block;
}
.mainContent .productRow .productInfo {
	width: 100%;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	left: -2%;
}
#mainWrapper footer div {
	width: 100%;
	margin-left: -16px;
	text-align: justify;
	padding-bottom: 16px;
	overflow: auto;
}
.menu ul {
	position: relative;
	padding-left: 24%;
}
#mainWrapper footer .footerlinks {
	padding-left: 8%;
}
#mainwrapper #content .mainContent {
	margin-top: -81px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
}
}