<%- include('../partials/header.ejs') %>
<div class="forbidden">
	<div class="background-label">403</div>
	<div class="logo">
		<img src="/static/images/logo.png" />
		<div class="title"><%=language.forbidden.title%></div>
		<div class="subtitle"><%=language.forbidden.description%></div>
	</div>
</div>
<%- include('../partials/footer.ejs') %>
