<%- include('../partials/header.ejs') %>
<div class="home">
	<div class="logo">
		<img src="/static/images/logo.svg" />
		<label class="label">Mods</label>
		<a href="/api/v1/auth/login" class="signin">Signin to add mods</a>
	</div>
</div>
<%- include('../partials/footer.ejs') %>
