<%- include('../partials/head'); %>
    <video autoplay="" muted="" loop="" class="fullscreenBackgroundVideo loaded">
                     <source src="style/bg_render.webm" type="video/webm">
                  </video>
    <div class="inner cover">
        <p class="lead">
            <img src="style/logo.png" alt="shapez.io Logo">
            <span class="updateLabel">Mods!</span>
        </p>
        <p>
            <a href="/signup" class="btn btn-lg btn-default">Sign Up</a>
        </p>
    </div>
    <div class="mastfoot">
        <div class="inner">
            <p>Modloader web design by <a href="https://github.com/swan2b144">SHADOW</a>.</p>
        </div>
    </div>
    </div>
    <%- include('../partials/footer'); %>