<%- include("../partials/header.ejs") %>
    <video autoplay="" muted="" loop="" class="fullscreenBackgroundVideo loaded">
	<source src="static/videos/bg_render.webm" type="video/webm" />
</video>
    <div class="notfound-logo">
        <img src="/static/images/shapez-logo.svg" />
        <div class="label">404</div>
        <div class="under">
            <div class="header">Page not found</div>
            <div class="text">The page you were looking for does not exist. Please return to home</div>
            <a href="/" class="button-filled">Home</a>
        </div>
    </div>
    <%- include("../partials/footer.ejs") %>