<%- include('../partials/header.ejs') %>
    <div class="notfound">
        <div class="background-label">404</div>
        <div class="logo">
            <img src="/static/images/logo.svg" />
            <div class="title">
                <%=language.notfound.title%>
            </div>
            <div class="subtitle">
                <%=language.notfound.description%>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>