<footer>
    <div class="discord">
        <div class="title">Join Our Discord</div>
        <div class="subtitle">We'll help you if needed!<br/>Info, Efficient designs, compact factories</div>
        <div class="links">
            <a href="https://discord.gg/VyxXGUHz3v" class="link link">
                Shapez.io
            </a>
            <a href="https://discord.gg/J5zJN99zqJ" class="link link-green">
                Modding Server
            </a>
        </div>
    </div>
    <div class="text">©
        <%= new Date().getFullYear(); %> ModLoader Team
            <img src="/static/images/discord-logo.svg">
    </div>
</footer>
</body>

</html>